body {
  margin: 20px;
}

.chat {
  background: aliceblue;
  padding: 20px;
  border-radius: 1rem;
  display: inline-block;
}
.msg {
  background: dodgerblue;
  color: white;
  padding: 5px 15px;
  border-radius: 1rem;
}
.edit {
  border-radius: 10px;
  padding: 5px;
}

.delete {
  border-radius: 10px;
  padding: 5px;
}

form.btn {
  display: inline-block;
}
